MQTT_BROKER=85.198.65.213
MQTT_PORT=1883
MQTT_CLIENT_ID=kfc_dashboard_backend
API_HOST=127.0.0.1
API_PORT=8080
FLUSH_INTERVAL_SECONDS=60
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=dbo
DB_USER=postgres
DB_PASSWORD=root
DB_SCHEMA=smart_restaurants
DB_TABLE=novonimisk_data
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
